@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #070c12;
  color: #f5f5f5;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.gradient-button {
  border: solid 4px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #004dca, #649fff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #070c12 inset;
}

.gradient-button-extra {
  box-shadow: 2px 1000px 1px #1f2937 inset;
}

/* .gradient-button-extra {
  box-shadow: 2px 1000px 1px #1f2937 inset ; */
/* } */

.gradient-button:hover {
  box-shadow: none;
}

.text-stroke-white {
  -webkit-text-stroke: 3px whitesmoke;
  position: relative;
}
.text-stroke-white::after {
  content: attr(data-text);
  color: #070c12;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-text-stroke: 0px whitesmoke;
}

.form-error {
  animation: formError 0.5s ease-in-out forwards 2;
  transition: all;
}

.secondary_heading_style {
  @apply text-[10rem] whitespace-nowrap font-black text-[#070c12] text-stroke-white;
}

@keyframes formError {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(161, 161, 161);
  -webkit-box-shadow: 0 0 0px 1000px #070c12 inset;
  box-shadow: 0 0 0px 1000px #070c12 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-500;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-800 cursor-pointer;
}

#blog-post-body img {
  @apply rounded-xl overflow-hidden;
}

#blog-post-body p {
  @apply my-4;
}

#blog-post-body pre {
  @apply bg-gray-700 px-8 py-4 rounded-lg;
}
