@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #070c12;
  color: whitesmoke;
}

.gradient-button {
  border: solid 4px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #004dca, #649fff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #070c12 inset;
}

.gradient-button:hover {
  box-shadow: none;
}
