@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #070c12;
  color: whitesmoke;
  overflow-x: hidden;
}

.gradient-button {
  border: solid 4px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #004dca, #649fff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #070c12 inset;
}

.gradient-button-extra {
  box-shadow: 2px 1000px 1px #1f2937 inset;
}

/* .gradient-button-extra {
  box-shadow: 2px 1000px 1px #1f2937 inset ; */
/* } */

.gradient-button:hover {
  box-shadow: none;
}

.text-stroke-white {
  -webkit-text-stroke: 3px whitesmoke;
  position: relative;
}
.text-stroke-white::after {
  content: attr(data-text);
  color: #070c12;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-text-stroke: 0px whitesmoke;
}

.secondary_heading_style {
  @apply text-[10rem] whitespace-nowrap font-black text-[#070c12] text-stroke-white;
}
